# LF everywhere keeps LICENSE, HTML and other embedded texts byte-identical across checkout platforms.
* text=auto eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.mjs text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.css text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.png binary
*.jpg binary
*.webp binary
*.zip binary
